﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span></span>
<div class="jumbotron">
    <h1 class="display-3">:)</h1>
    <p class="lead">Добро пожаловать в систему SmartCoach!.</p>
    <hr class="my-4">
    <p>Чтобы начать использовать систему, залогиньтесь или зарегистрируйтесь!</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Подробнее</a>
    </p>
</div>