﻿@{
	ViewBag.Title = "Home Page";
	ViewBag.HeaderClass = "header";
	ViewBag.IsIndex = true;
	ViewBag.LinkClass = "scroll";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--about-->
<div class="content">
	<div class="about-section" id="about">
		<div class="container">
			<h3>О программе</h3>
			<div class="about-grids">
				<div class="col-md-6 about-grid">
					<iframe width="640" height="360" src="https://www.youtube.com/embed/Nj70TFdpnK8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
				<div class="col-md-6 about-grid">
					<h4>Профессиональный подход</h4>
					<p>Мы предлагаем удобную систему учета тренировок для тренеров и их клиентов. Больше никаких записных книжок! Все тренировки фиксируются в системе, включая выполненные упражнения. Теперь
					следить за эффективностью тренировок стало гораздо проще!</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--about-->
	<!--services-->
	<div class="services" id="services">
		<div class="container">
			<h3>Что дает наш сервис</h3>
			<div class="services-grids">
				<div class="col-md-3 services-grid">
					<h4>Учет тренировок</h4>
					<p> Тренер может вести учет количества и содержания тренировок, проведенных с клиентами. 
					Можно записывать рабочий вес, количество подходов и количество повторений.
					</p>
				</div>
				<div class="col-md-3 services-grid">

					<h4>Учет платежей</h4>
					<p>Приложение позволяет вести учет платежей с фиксацией даты оплаты</p>
				</div>
				<div class="col-md-3 services-grid">

					<h4>Учет результатов</h4>
					<p>Эффективность тренировок фиксируетя в виде стандартных замеров 8 типов.</p>
				</div>
			</div>
			<div class="col-md-3 services-grid">

				<h4>Учет достижений</h4>
				<p>Благодаря таблице достижений, клиенты получают дополнительную мотивацию к тренировкам. </p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!--services-->
	<div class="gallery" id="gallery">
		<div class="container">
			<h3>Наши тренировки</h3>
			<div class="gallery-grids">
				<div class="col-md-4 gallery-grid">
					<div id="nivo-lightbox-demo">
						<a href="~/Content/g1.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
							<img src="~/Content/g1.jpg" class="img-responsive " alt="" />
							<div class="rotate">
								<i> </i>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 gallery-grid">
					<div id="nivo-lightbox-demo">
						<a href="~/Content/g2.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
							<img src="~/Content/g2.jpg" class="img-responsive " alt="" />
							<div class="rotate">
								<i> </i>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 gallery-grid">
					<div id="nivo-lightbox-demo">
						<a href="~/Content/g3.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
							<img src="~/Content/g3.jpg" class="img-responsive " alt="" />
							<div class="rotate">
								<i> </i>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 gallery-grid">
					<div id="nivo-lightbox-demo">
						<a href="~/Content/g4.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
							<img src="~/Content/g4.jpg" class="img-responsive " alt="" />
							<div class="rotate">
								<i> </i>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 gallery-grid">
					<div id="nivo-lightbox-demo">
						<a href="~/Content/g5.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
							<img src="~/Content/g5.jpg" class="img-responsive " alt="" />
							<div class="rotate">
								<i> </i>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 gallery-grid">
					<div id="nivo-lightbox-demo">
						<a href="~/Content/g6.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
							<img src="~/Content/g6.jpg" class="img-responsive " alt="" />
							<div class="rotate">
								<i> </i>
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--script-->
	<link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
	<script type="text/javascript" src="js/nivo-lightbox.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });
		});
	</script>


	<div class="contact" id="contact">
		<div class="container">
			<div class="title">
				<h3>Контакты</h3>
				<p>Основные тренировки проходят по адресу: ул. Леся Сердюка, 4а (г. Харьков)</p>
			</div>
			<div class="google-map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2562.906531142139!2d36.341687351149346!3d50.031847225218485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0JvQtdGB0Y8g0KHQtdGA0LTRjtC60LAsIDTQsCDigJQgMS0zINGN0YLQsNC2!5e0!3m2!1suk!2sua!4v1522786740639" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--//contact-->
		</div>
@Html.Partial("_Footer")	