﻿@model CoachAssisant.Models.Client
@{
    ViewBag.HeaderClass = "header2";
    ViewBag.IsIndex = false;
    ViewBag.LinkClass = "";        
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:50px">

    <h3 style="color:#fd7364; margin-bottom:50px">@ViewBag.Title</h3>
     
        @using (Html.BeginForm("Save", "Clients"))
        { 
            @Html.ValidationSummary(true, "Пожалуйста, исправьте некорректно заполненные поля")
                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName)                    
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Weight)
                    @Html.TextBoxFor(m => m.Weight, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Weight)
                </div>
                <div>
                    @Html.LabelFor(m => m.BirthDate)                    
                    @Html.TextBoxFor(m => m.BirthDate, new { @Value = Model.BirthDate.ToString("dd/MM/yyyy"), @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.BirthDate)


                </div>                
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.IsActive) Активен?
                    </label>
                </div>
                @Html.HiddenFor(m => m.Id)
            @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-primary">@ViewBag.ButtonText</button>
        }
    </div>
 
@section scripts
        {
    @Scripts.Render("~/bundles/jqueryval")
}