﻿@model CoachAssisant.Models.Client
@{
    ViewBag.Title = "Details";
    ViewBag.HeaderClass = "header2";
    ViewBag.IsIndex = false;
    ViewBag.LinkClass = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a id="floating-button" href="@Url.Action("New", "WorkoutExercises", new { clientId = Model.Id })" data-placement="left" data-original-title="Добавить упражнение"><span class="plus">+</span></a>
<div class="container-fluid main_container" id="main_container">

    <h3 style="color:#fd7364; margin-bottom:50px">@Model.FirstName  @Model.LastName</h3>
    <table class="table table-bordered table-hover">
        <tr>
            <td>Имя</td>
            <td>@Model.FirstName  @Model.LastName</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td>@Model.Weight</td>
        </tr>
        <tr>
            <td>Тренировок прошло</td>
            <td>@Model.WorkoutsCount</td>
        </tr>
        <tr>
            <td>Репутация</td>
            <td>@Model.Reputation</td>
        </tr>
        <tr>
            <td>Дата рождения</td>
            <td>@Model.birthdate_yyyymmdd</td>
        </tr>
        <tr>
            <td>Юзер</td>
            @if (Model.ApplicationUser == null)
            {
                <td>-</td>
            }
            else
            {
                <td>@Model.ApplicationUser.Id</td>
            }

        </tr>
    </table>

</div>



