﻿@model IList<CoachAssisant.Models.Client>
@{
    ViewBag.Title = "Клиенты";
    ViewBag.HeaderClass = "header2";
    ViewBag.IsIndex = false;
    ViewBag.LinkClass = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<a href="@Url.Action("New", "Clients", new { })" id="floating-button" data-placement="left" data-original-title="Добавить клиента"><span class="plus">+</span></a>
<div class="container-fluid main_container" id="main_container">
    <h3 class="text-center" style="color:#fd7364; margin-bottom:50px">@ViewBag.Title</h3>
    <div class="row">
        @if (Model.Count.Equals(0))
        {
            <div class="text-ceter">Клиенты пока не записаны</div>
        }
        else
        {
            foreach (var client in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-4 workout-card-wrapper">
                    <div class="workout-card row">
                        <div class="workout-card-name col-xs-7">@client.FirstName @client.LastName</div>
                        <div class="workout-card-status col-xs-5">Репутация @client.Reputation</div>
                        <div class="workout-card-date col-xs-12">Занятий @client.WorkoutsCount</div>
                        <div class="workout-card-type col-xs-12">Вес @client.Weight кг</div>
                        <div class="col-xs-7 col-sm-7 col-md-7 workout-card-btn">
                            <a href="@Url.Action("Edit", "Clients", new { id = client.Id})" class="btn btn-info"><span class="glyphicon glyphicon-edit glyphicon-button" aria-hidden="true"></span>Редактировать</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>