﻿@model IEnumerable<CoachAssisant.ViewModels.RatingViewModel>
@{
    ViewBag.Title = "Рейтинг клиентов";
    ViewBag.HeaderClass = "header2";
    ViewBag.IsIndex = false;
    ViewBag.LinkClass = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center" style="color:#fd7364; margin-bottom:50px">Рейтинг</h3>
@{int i = 1; }
<div class="row">
    <div class="col-xs-10 col-xs-push-1 col-sm-10 col-sm-push-1 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Значение</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ratingPos in Model)
                {
                    <tr>
                        <th scope="row">@(i++)</th>
                        <td>@ratingPos.Client.FirstName @ratingPos.Client.LastName</td>
                        <td>@(Math.Round(ratingPos.Value, 2))</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>