﻿@model CoachAssisant.ViewModels.AchievmentViewFormModel
@{
    ViewBag.HeaderClass = "header2";
    ViewBag.IsIndex = false;
    ViewBag.LinkClass = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .workout-card-details > form > div > select,
    .workout-card-details > form > div > input {
        width: 100%;
        max-width: 100%;
    }

    .workout-card-details > form > div > label {
        margin-top: 5px;
    }
</style>

<div class="container-fluid main_container" id="main_container">
    <h3 class="text-center" style="color:#fd7364; margin-bottom:50px">@Model.Title</h3>
    <div class="row">
        <div class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3 col-lg-4 col-lg-push-4">
            <div class="workout-card-details row">
                @using (Html.BeginForm("Save", "Achievment"))
                {
                    @Html.ValidationSummary(true, "Пожалуйста, исправьте некорректно заполненные поля")
                    <div class="col-xs-12">
                        @Html.LabelFor(a => a.Achievment.ClientId)
                    </div>
                    <div class="col-xs-12">
                        @Html.DropDownListFor(a => a.Achievment.ClientId,
new SelectList(Model.Clients, "Id", "FirstName"), "Выберите клиента", new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Achievment.ClientId)
                    </div>
                    <div class="col-xs-12">
                        @Html.LabelFor(a => a.Achievment.CategoryId)
                    </div>
                    <div class="col-xs-12">
                        @Html.DropDownListFor(a => a.Achievment.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "Выберите категорию",
new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Achievment.CategoryId)
                    </div>
                    <div class="col-xs-12">
                        @Html.LabelFor(a => a.Achievment.Description)
                    </div>
                    <div class="col-xs-12">

                        @Html.TextBoxFor(a => a.Achievment.Description, new { @class = "form-control" })
                    </div>

                    <div class="col-xs-12">
                        @Html.LabelFor(a => a.Achievment.Added)
                    </div>
                    <div class="col-xs-12">

                        @Html.TextBoxFor(a => a.Achievment.Added, new { @Value = Model.Achievment.Added.ToString("dd/MM/yyyy"), @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Achievment.Added)

                    </div>
                    @Html.HiddenFor(a => a.Achievment.Id)
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary col-xs-10 col-xs-push-1" style="margin-top: 10px;">@Model.ButtonText</button>
                }
            </div>
        </div>
    </div>
</div>
@section scripts
        {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(document).ready(function () {

    });
</script>
