﻿@model IEnumerable<CoachAssisant.Models.Achievment>
@{
    ViewBag.Title = "Достижения";
    ViewBag.HeaderClass = "header2";
    ViewBag.IsIndex = false;
    ViewBag.LinkClass = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a id="floating-button" href="@Url.Action("New", "Achievment", new { })" data-placement="left" data-original-title="Добавить упражнение"><span class="plus">+</span></a>
<div class="container" style="margin-top:50px">

    <h3 style="color:#fd7364; margin-bottom:50px">@ViewBag.Title</h3>

    @{

        var idset = ViewContext.RouteData.Values["Id"];
        var yyyymmset = @Request.QueryString["yyyymm"];
    }

    @if (idset != null | yyyymmset != null)
    {
        <h5>@Html.ActionLink("Вернуться в общий список", "Index", new { Id = "", yyyymm = "" })</h5>
    }

    <div class="tab-pane">
        <table id="achievments" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Клиент</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Позиция в рейтинге</th>
                    <th scope="col">Год-месяц</th>
                    <th scope="col">Редактирование</th>
                    <th scope="col">Удаление</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#achievments").DataTable({
                ajax: {
                    url: "/api/achievments",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "client",
                        render: function (data) {
                            return data.firstName + " " + data.lastName;
                        }

                    },
                    {
                        data: "category.name",
                    },
                    {
                        data: "ratingPosition",
                    },
                    {
                        data: "yearmonth",
                    },
                    {
                        data: "id",
                        render: function (data, type, achievment) {
                            return "<a href='/achievment/edit/" + achievment.id + "'>" + "Редактировать" + "</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-achievment-id=" + data + ">Удалить</button>";
                        }
                    }

                ]
            });

            $("#achievments").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Вы уверены, что хотите удалить?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/achievments/" + button.attr("data-achievment-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parent("tr")).remove().draw();
                            }
                        });
                    }
                });
            })
        });
    </script>
}