﻿@model IEnumerable<CoachAssisant.Models.Achievment>
@{
    ViewBag.Title = "Достижения";
    ViewBag.HeaderClass = "header2";
    ViewBag.IsIndex = false;
    ViewBag.LinkClass = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:50px">

    <h3 style="color:#fd7364; margin-bottom:50px">@ViewBag.Title</h3>
    
    @{

        var idset = ViewContext.RouteData.Values["Id"];
        var yyyymmset = @Request.QueryString["yyyymm"];
    }

    @if (idset != null | yyyymmset != null)
    {
        <h5>@Html.ActionLink("Вернуться в общий список", "Index", new { Id = "", yyyymm = "" })</h5>
    }

    <div class="tab-pane">
        <table id="achievments" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Клиент</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Позиция в рейтинге</th>
                    <th scope="col">Год-месяц</th>
                </tr>
            </thead>          
        </table>
    </div>
    </div>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#achievments").DataTable({
                ajax: {
                    url: "/api/achievments",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "client",                                                
                        render: function (data) {
                            return data.firstName + " " + data.lastName;
                        }

                    },
                    {
                        data: "category.name",
                    },
                    {
                        data: "ratingPosition",
                    },
                    {
                        data: "yearmonth",
                    }
                ]
            });

        });
    </script>
    }