﻿<!DOCTYPE HTML>
<html>
<head>
	<title>CoachAssistant - личный помощник тренера</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>

	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script src="~/Scripts/jquery-1.8.3.min.js"></script>
	<!---- start-smoth-scrolling---->
	<script type="text/javascript" src="~/Scripts/move-top.js"></script>
	<script type="text/javascript" src="~/Scripts/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
	<!---End-smoth-scrolling---->
</head>

<body>    
	<div class="@ViewBag.HeaderClass">
		@Html.Partial("_NavBar")
	</div>



	<div class="flex-container">
		@RenderBody()
	</div>

		
		@Scripts.Render("~/bundles/lib")
		@RenderSection("scripts", required: false)
</body>
	
</html>
