﻿<div class="header-top">
    <div class="logo">
        @Html.ActionLink("SmartCoach", "Index", "Home", null, new { @class = "scroll" })
    </div>
    @Html.Partial("_NavBarMenu")
    <!--script-nav-->
    <script>
        $("span.menu").click(function () {
            $(".top-menu ul").slideToggle("slow", function () {
            });
        });
    </script>
    <div class="clearfix"></div>
</div>
<div class="container">
    <div class="banner-center">
        <h1>Лучшее время для тренировки - сейчас!</h1>       
    </div>
    <div class="clearfix"></div>
</div>
