﻿<div class="top-menu">
    <span class="menu"><img src="~/Content/nav.png" alt="" /> </span>
    <ul>
        <li>@Html.ActionLink("Главная", "Index", "Home", null, new { @class = "scroll" })<span class="sr-only">(current)</span></li>
        <li>@Html.ActionLink("Клиенты", "Index", "Clients", null, new { @class = "scroll" })</li>
        <li>@Html.ActionLink("Упражнения", "Index", "Exercises", null, new { @class = "scroll" })</li>
        <li>@Html.ActionLink("Достижения", "Index", "Achievment", null, new { @class = "scroll" })</li>
        @Html.Partial("_LoginPartial")
        <div class="clearfix"></div>
    </ul>
</div>
