﻿<nav class="navbar navbar-expand-sm navbar-dark bg-primary navbar-static-top">
    <div class="container">
        @Html.ActionLink("SmartCoach", "Index", "Home", null, new { @class = "navbar-brand" })        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">@Html.ActionLink("Главная", "Index", "Home", null, new { @class = "nav-link" })<span class="sr-only">(current)</span></li>
                <li class="nav-item">@Html.ActionLink("Клиенты", "Index", "Clients", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Упражнения", "Index", "Exercises", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Достижения", "Index", "Achievment", null, new { @class = "nav-link" })</li>
            </ul>
            @Html.Partial("_LoginPartial")

        </div>
        </div>
</nav>

