﻿<div class="header-top">
    <div class="logo">
        @Html.ActionLink("SmartCoach", "Index", "Home", null, new { @class = "" })
    </div>

    <div class="top-menu">
        <span class="menu"><img src="~/Content/nav.png" alt="" /> </span>
        <ul>
            <li>@Html.ActionLink("Главная", "Index", "Home", null, new { @class = "" })<span class="sr-only">(current)</span></li>
            <li>@Html.ActionLink("Клиенты", "Index", "Clients", null, new { @class = "" })</li>
            <li>@Html.ActionLink("Упражнения", "Index", "Exercises", null, new { @class = "" })</li>
            <li>@Html.ActionLink("Достижения", "Index", "Achievment", null, new { @class = "" })</li>
            <li>@Html.ActionLink("Тренировки", "Index", "Workouts", null, new { @class = "" })</li>
            <li><a href="#contact" class=@ViewBag.LinkClass>Контакты</a></li>
            @Html.Partial("_LoginPartial")
            <div class="clearfix"></div>
        </ul>
    </div>
    <!--script-nav-->
    <script>
        $("span.menu").click(function () {
            $(".top-menu ul").slideToggle("slow", function () {
            });
        });
    </script>
    <div class="clearfix"></div>

</div>
@*
    Show the big picture only if this is the index page
*@
@if (ViewBag.IsIndex == true)
{
    <div class="container">
        <div class="banner-center">
            <h1>Лучшее время для тренировки - сейчас!</h1>            
        </div>
        <div class="clearfix"></div>
    </div>
}