﻿
@{
    ViewBag.Title = "New";
    ViewBag.HeaderClass = "header2";
    ViewBag.IsIndex = false;
    ViewBag.LinkClass = "";
}

<div class="container" style="margin-top:50px">

    <h3 style="color:#fd7364; margin-bottom:50px">Добавить упражнения</h3>    


    <form>
        <div class="form-group">
            <label>Клиент</label>
            <div class="tt-container">
                <input id="client" name="client" type="text" value="" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label>Упражнение</label>
            <input id="exercise" name ="exercise" type="text" value="" class="form-control" />
        </div>
        <button class="btn btn-primary">Добавить</button>
    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            var vm = {};

            var clients = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('fullName'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,                
                remote: {
                    url: '/api/clients?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#client').typeahead({                
                highlight: true
            },{
                name: 'clients',
                display: 'fullName',
                source: clients
                }).on("typeahead:select", function (e, client) {
                    vm.customerId = client.id;
                });
            var exercises = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/exercises?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#exercise').typeahead({
                minLength: 3,
                highlight: true
            }, {
                    name: 'exercises',
                    display: 'name',
                    source: exercises
                }).on("typehead:select", function (e, exercise) {
                });
        })
    </script>
    }