﻿@model CoachAssisant.ViewModels.WorkoutExerciseFormViewModel
@{
    ViewBag.Title = "Упражнение";    
    ViewBag.HeaderClass = "header2";
    ViewBag.IsIndex = false;
    ViewBag.LinkClass = "";    
}

<div class="container" style="margin-top:50px">   
    
    <h3 style="color:#fd7364; margin-bottom:50px">@Model.Title</h3>
    @if (Model.WorkoutExercise.Id != 0)
    {
        <div id="deletebutton">
            @using (Html.BeginForm("Delete", "WorkoutExercises", new { Id = Model.WorkoutExercise.Id }))
            {
                @Html.HiddenFor(w => w.WorkoutExercise.Id)
                @Html.AntiForgeryToken()
                <button type="submit" value="Delete" class="btn btn-primary"><span class="glyphicon glyphicon-trash glyphicon-button"></span>Delete</button>
            }
        </div>
    }
    <br />
    @using (Html.BeginForm("Save", "WorkoutExercises"))
    {
        @Html.ValidationSummary(true, "Пожалуйста, исправьте некорректно заполненные поля")
        <div class="form-group">
            @Html.LabelFor(e => e.WorkoutExercise.ExerciseId)            
            @Html.DropDownListFor(e => e.WorkoutExercise.ExerciseId, new SelectList(Model.Exercises, "Id", "Name"), "Выберите упражнение",
           new { @class = "form-control"})
            @Html.ValidationMessageFor(e => e.WorkoutExercise.ExerciseId)
        </div>

        <div class="form-group">
            @Html.LabelFor(e => e.WorkoutExercise.AdditionalName)
            @Html.TextBoxFor(e => e.WorkoutExercise.AdditionalName, new { @class = "form-control" })
            @Html.ValidationMessageFor(e => e.WorkoutExercise.AdditionalName)
        </div>
        <div class="form-group">
            @Html.LabelFor(e => e.WorkoutExercise.Wraps)
            @Html.TextBoxFor(e => e.WorkoutExercise.Wraps, new { @class = "form-control" })
            @Html.ValidationMessageFor(e => e.WorkoutExercise.Wraps)
        </div>
        <div class="form-group">
            @Html.LabelFor(e => e.WorkoutExercise.WorkingWeight)
            @Html.TextBoxFor(e => e.WorkoutExercise.WorkingWeight, new { @class = "form-control" })
            @Html.ValidationMessageFor(e => e.WorkoutExercise.WorkingWeight)
        </div>
        <div class="form-group">
            @Html.LabelFor(e => e.WorkoutExercise.NumberOfSets)
            @Html.TextBoxFor(e => e.WorkoutExercise.NumberOfSets, new { @class = "form-control" })
            @Html.ValidationMessageFor(e => e.WorkoutExercise.NumberOfSets)
        </div>

        @Html.HiddenFor(e => e.WorkoutExercise.WorkoutId, new { Value = Model.WorkoutId })
        @Html.HiddenFor(e => e.WorkoutExercise.Id)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">@Model.ButtonText</button>

    }

</div>
@section scripts
        {

@Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#deletebutton > form').submit(function (e) {
                e.preventDefault();
                bootbox.confirm("Вы уверены, что хотите удалить?", function (result) {
                    if (result) {
                        $('#deletebutton > form').unbind('submit').submit();
                    }
                })
            });
        });
    </script>

}