﻿@model CoachAssisant.Models.Exercise
@{
    ViewBag.HeaderClass = "header2";
    ViewBag.IsIndex = false;
    ViewBag.LinkClass = "";        
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="margin-top:50px">

    <h3 style="color:#fd7364; margin-bottom:50px">@ViewBag.Title</h3>
    @ViewBag.Errors    
    @using (Html.BeginForm("Save", "Exercises"))
    {
        @Html.ValidationSummary(true, "Пожалуйста, исправьте некорректно заполненные поля")
        <div class="form-group">
            @Html.LabelFor(e => e.Name)
            @Html.TextBoxFor(e => e.Name, new { @class ="form-control" })
            @Html.ValidationMessageFor(e => e.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(e => e.AlternativeName)
            @Html.TextBoxFor(e => e.AlternativeName, new { @class = "form-control" })
            @Html.ValidationMessageFor(e => e.AlternativeName)
        </div>
        <div class="form-group">
            @Html.LabelFor(e => e.TargetMuscles)
            @Html.TextBoxFor(e => e.TargetMuscles, new { @class = "form-control" })
            @Html.ValidationMessageFor(e => e.TargetMuscles)
        </div>
        @Html.HiddenFor(e => e.Id)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">@ViewBag.ButtonText</button>
    }

</div>
@section scripts
        {
    @Scripts.Render("~/bundles/jqueryval")
}

