﻿@model IEnumerable<CoachAssisant.Models.Exercise>
@{

    ViewBag.HeaderClass = "header2";
    ViewBag.IsIndex = false;
    ViewBag.LinkClass = "";
    ViewBag.Title = "Упражнения";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn-EditExc {
        position: relative;
        float: right;
    }

    ul.workout-card-details > li {
        margin-bottom: 5px;
    }
</style>


<a id="floating-button" href="@Url.Action("New", "Exercises", new { })" data-placement="left" data-original-title="Добавить упражнение"><span class="plus">+</span></a>
<div class="container-fluid main_container" id="main_container">
    <h3 class="text-center" style="color:#fd7364; margin-bottom:50px">@ViewBag.Title</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
            <ul class="workout-card-details list-group">
                @foreach (var exercise in Model)
                {
                    <li class="list-group-item">@exercise.Name, @exercise.TargetMuscles <a href="@Url.Action("Edit", "Exercises", new { id = exercise.Id})" class="btn-EditExc"><span class="glyphicon glyphicon-edit glyphicon-button" aria-hidden="true"></span></a></li>
                }
            </ul>
        </div>
    </div>
</div>
