﻿
@model CoachAssisant.Models.ViewModels.RandomExerciseViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    Dynamically render attributes
*@

@{ 
    var className = Model.Clients.Count > 5 ? "popular" : null;
}
<h2 class="@className">@Model.Exercise.Name</h2>
@if (Model.Clients.Count == 0)
{
    <p>Это упражнение еще никто не делал</p>
}
else
{
    <ul>
    @foreach (var client in Model.Clients)
    {
        <li>@client.FirstName</li>
    }
        </ul>
}
