﻿body, body * {
    font-family: Verdana, Geneva, sans-serif;
}

.main_container {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 80px;
}

.glyphicon-button {
    margin-right: 5px;
}

.workout-card,
.workout-card-details {
    margin: 10px;
    padding: 5px;
    padding-bottom: 10px;
    background-color: inherit;
    -webkit-box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.34);
    -moz-box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.34);
    box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.34);
    background-color: #f4f1f1;
}

    .workout-card > .workout-card-name,
    .workout-card > .workout-card-date,
    .workout-card > .workout-card-status,
    .workout-card > .workout-card-type {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .workout-card > .workout-card-name {
        padding-right: 1px;
    }

    .workout-card > .workout-card-date {
        opacity: 0.6;
        text-align: center;
    }

    .workout-card > .workout-card-type {
        text-align: center;
        margin-bottom: 10px;
    }

    .workout-card > .workout-card-status {
        text-align: right;
        padding-left: 1px;
    }

        .workout-card > .workout-card-status.done {
            color: green;
        }

        .workout-card > .workout-card-status.overdue {
            color: red;
        }

        .workout-card > .workout-card-status.pending {
            color: black;
        }

    .workout-card .glyphicon-button {
        margin-right: 5px;
    }

    .workout-card .workout-card-btn .btn {
        width: 100%;
    }

/* Исправления разметки для различных размеров экрана, дабы небыло наездов */
@media (max-width: 370px) {
    .main_container,
    .main_container > div.row {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

        .main_container > div.row > div > div.workout-card {
            margin-left: 0;
            margin-right: 0;
        }

    .workout-card > * {
        padding-right: 3px;
        padding-left: 3px;
    }

    .workout-card .workout-card-btn {
        padding-right: 0px;
        padding-left: 0px;
    }

        .workout-card .workout-card-btn .btn {
            padding-left: 3px;
            padding-right: 3px;
            margin-left: 3px;
            margin-right: 3px;
        }

            .workout-card .workout-card-btn .btn .glyphicon-button {
                margin-right: 3px;
            }
}

@media (min-width: 500px) and (max-width: 575px) {
    .workout-card {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .workout-card {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media (max-width: 767px) {
    .workout-card {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1029px) {
    .workout-card {
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 3px;
        padding-right: 3px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .workout-card * {
        padding-right: 3px;
        padding-left: 3px;
    }

    .workout-card .workout-card-btn {
        padding-right: 0px;
        padding-left: 0px;
    }

        .workout-card .workout-card-btn .btn {
            padding-left: 3px;
            padding-right: 3px;
            margin-left: 3px;
            margin-right: 3px;
        }

            .workout-card .workout-card-btn .btn .glyphicon-button {
                margin-right: 3px;
            }
}

@media (min-width: 1420px) and (max-width: 1669px) {
    .workout-card {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (min-width: 1670px) {
    .workout-card {
        margin-left: 50px;
        margin-right: 50px;
    }
}

#floating-button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #0090cd;
    opacity: 0.95;
    position: fixed;
    bottom: 40px;
    right: 30px;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.34);
    -moz-box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.34);
    box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.34);
    z-index: 150;
    transition: all 0.3s;
}

    #floating-button:hover {
        background: #006f9f;
    }

    #floating-button:active {
        background: #003f5a;
    }

@media (max-width: 400px) {
    #floating-button {
        bottom: 35px;
        right: 15px;
    }
}

.plus {
    color: white;
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 48px;
    font-size: 38px;
    font-weight: 300;
    text-shadow: 1px 1px black;
}




/* Код для свойств одной тренировки (другая страница) */

@media (max-width: 370px) {
    .main_container > div.row > div > div.workout-card-details {
        margin-left: 0;
        margin-right: 0;
    }

    .workout-card-details > * {
        padding-right: 3px;
        padding-left: 3px;
    }
}

.workout-card-details {
    background-color: #f4f1f1;
}

    .workout-card-details .workout-card-name {
        text-align: left;
    }

@media (max-width: 767px) {
    .workout-card-details .workout-card-workoutnumber {
        text-align: right;
    }
}

@media (min-width: 768px) {
    .workout-card-details .workout-card-workoutnumber {
        text-align: center;
    }
}

.workout-card-details .workout-card-date {
    text-align: right;
}

.workout-card-details .workout-card-workoutnumber,
.workout-card-details .workout-card-date {
    color: gray;
}

@media (max-width: 430px) {
    .workout-card-details .workot-card-exercises .exersises-list .panel-group {
        margin-bottom: 10px;
    }
}

.workout-card-details .glyphicon-button {
    margin-right: 5px;
}

.workout-card-details .workot-card-exercises {
    padding-top: 30px;
}

@media (max-width: 430px) {
    .workout-card-details .workot-card-exercises {
        padding-top: 15px;
    }
}

.workout-card-details .workot-card-exercises .exersises-list-title {
    color: gray;
}

.workout-card-details .workot-card-exercises .exersises-list {
    padding-top: 10px;
}

    .workout-card-details .workot-card-exercises .exersises-list .panel-title .glyphicon-button {
        margin-top: -1px;
        float: right;
    }

    .workout-card-details .workot-card-exercises .exersises-list .panel-title a {
        text-decoration: none;
    }
