/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
@font-face {
    font-family: 'Play-Regular';
    src: url(../fonts/Play-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.ttf) format('truetype');
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

input[type="button"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0 0;
    margin: 0 0;
}

h3 {
    font-size: 3em;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Play-Regular';
    color: #fd7364;
    font-weight: 600;
}

p {
    padding: 0 0;
    margin: 0 0;
}

ul {
    padding: 0 0;
    margin: 0 0;
}

body {
    padding: 0 0;
    margin: 0 0;
    font-family: 'OpenSans-Regular';
    background-color: #e9e2e2;
}

.header {
    background: url(../Content/banner.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 805px;
    padding-top: 2em;
}

.header2 {
    padding-top: 2em;
    background-color: inherit;
}

.header-top {
    margin: 0 2em;
}

.logo {
    float: left;
    background: #fd7364;
}

    .logo a {
        font-size: 2.65em;
        text-decoration: none;
        text-transform: capitalize;
        color: #fff;
        font-family: 'Play-Regular';
        padding: 0 0.5em;
    }

.top-menu {
    float: right;
}

    .top-menu ul li {
        display: inline-block;
        float: left;
        border-right: 1px ridge rgba(253,253,253,0.7);
    }

        .top-menu ul li a:hover {
            background-color: #FD7364;
            color: #fff;
        }

        .top-menu ul li:nth-child(1) {
            border-left: 1px ridge rgba(253,253,253,0.7);
        }

        .top-menu ul li:nth-child(6) {
            border-right: none;
        }

span.menu {
    display: none;
}

.top-menu ul li a {
    text-transform: capitalize;
    font-size: 1.3em;
    color: #222;
    background: rgba(250, 250, 250, 0.8);
    text-decoration: none;
    font-family: 'Play-Regular';
    padding: 0.85em 0.3em;
    line-height: 1.2em;
    display: block;
}

    .top-menu ul li a.active {
        color: #fff;
        background-color: #FD7364;
    }

.banner-center {
    width: 35%;
    margin-top: 12em;
    float: right;
    text-align: right;
}

    .banner-center h1 {
        font-size: 3em;
        line-height: 1.3em;
        text-transform: capitalize;
        color: #fff;
    }

    .banner-center p {
        font-size: 1em;
        color: #fff;
        line-height: 1.8em;
        margin-top: 1em;
    }

.banner-bottom {
    position: relative;
}

.banner-grids {
    position: absolute;
    top: 255px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #fafafa;
}

span.glyphicon.glyphicon-gift {
    font-size: 1.1em;
    color: #b2b2b2;
    margin-right: 0.5em;
}

span.glyphicon.glyphicon-user {
    font-size: 1.1em;
    color: #b2b2b2;
    margin-right: 0.5em;
}

span.glyphicon.glyphicon-send {
    font-size: 1.1em;
    color: #b2b2b2;
    margin-right: 0.5em;
}

.banner-grid h5 {
    font-size: 1.2em;
    text-transform: uppercase;
    color: #b2b2b2;
    font-weight: 900;
}

.banner-grid {
    padding: 2em;
    border-right: 2px solid#efefef;
    border-bottom: 2px solid #efefef;
    border-top: 2px solid #efefef;
    border-left: 2px solid #efefef;
}

.about-section {
    padding: 7em 0 4em;
    background-color: #ffffff;
}

    .about-section h3 {
        font-size: 3em;
        text-align: center;
        text-transform: capitalize;
        font-family: 'Play-Regular';
        color: #fd7364;
        font-weight: 600;
    }

.about-grids {
    margin-top: 3em;
}

.about-section h4 {
    font-size: 1.5em;
    color: #222;
    text-transform: capitalize;
    font-family: 'Play-Regular';
    font-weight: 600;
}

.about-section p {
    font-size: 1em;
    line-height: 1.8em;
    color: #999;
    margin: 1em 0 2em;
}

.about-grid iframe {
    width: 100%;
    border: none;
}

a.button {
    font-size: 1em;
    background-color: #fd7364;
    padding: 0.5em 1em;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}

    a.button:hover {
        background-color: #222;
    }

.services {
    text-align: center;
    padding: 4em 0;
    background: #F0ECEC;
}

    .services h3 {
        font-size: 3em;
        text-align: center;
        text-transform: capitalize;
        font-family: 'Play-Regular';
        color: #fd7364;
        font-weight: 600;
    }

.services-grids {
    margin-top: 3em;
}

span.glyphicon.glyphicon-lock {
    font-size: 2em;
    color: #444;
    border-radius: 50px;
    border: 2px solid #444;
    padding: 1em;
}

    span.glyphicon.glyphicon-lock:hover {
        color: #fd7364;
        border: 2px dotted #fd7364;
    }

span.glyphicon.glyphicon-move:hover {
    color: #fd7364;
    border: 2px dotted #fd7364;
}

span.glyphicon.glyphicon-cog:hover {
    color: #fd7364;
    border: 2px dotted #fd7364;
}

span.glyphicon.glyphicon-camera:hover {
    color: #fd7364;
    border: 2px dotted #fd7364;
}

span.glyphicon.glyphicon-move {
    font-size: 2em;
    color: #444;
    border-radius: 50px;
    border: 2px solid #222;
    padding: 1em;
}

span.glyphicon.glyphicon-cog {
    font-size: 2em;
    color: #444;
    border-radius: 50px;
    border: 2px solid #222;
    padding: 1em;
}

span.glyphicon.glyphicon-camera {
    font-size: 2em;
    color: #444;
    border-radius: 50px;
    border: 2px solid #222;
    padding: 1em;
}

.services-grid h4 {
    font-size: 1.5em;
    color: #222;
    text-transform: capitalize;
    font-family: 'Play-Regular';
    font-weight: 600;
    margin: 0.5em 0 0.4em;
}

.services-grid p {
    font-size: 1em;
    color: #999;
    line-height: 1.8em;
}

.gallery {
    background-color: #fd7364;
    padding: 4em 0;
}

    .gallery h3 {
        font-size: 3em;
        text-align: center;
        text-transform: capitalize;
        font-family: 'Play-Regular';
        color: #fff;
        font-weight: 600;
    }

.gallery-grids {
    margin-top: 3em;
}

.gallery-grid {
    position: relative;
    padding: 0 0.5em 1em;
}

.rotate:hover i {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

.rotate i {
    background: url(../Content/se.png) no-repeat 0px;
    width: 51px;
    height: 51px;
    display: block;
    margin: 8em 0 0 11em;
}

.rotate {
    position: absolute;
    top: 0;
    background: rgba(253, 115, 100, 0.52);
    width: 96.5%;
    height: 95.1%;
    display: none;
    text-align: center;
}

.gallery-grid:hover .rotate {
    display: block;
}
/*--/gallery-page--*/
/*--team--*/
.team {
    padding: 4em 0;
}

.title {
    text-align: center;
    width: 55%;
    margin: 0 auto;
}

    .title h3 {
        font-size: 3em;
        text-align: center;
        text-transform: capitalize;
        font-family: 'Play-Regular';
        color: #fd7364;
        font-weight: 600;
    }

    .title p {
        font-size: 1.1em;
        color: #999;
        line-height: 1.8em;
        margin-top: 0.5em;
    }

.work-bottom {
    margin-top: 3em;
}

.team-bottom h4 {
    font-size: 1.5em;
    color: #fff;
    text-transform: capitalize;
    font-family: 'Play-Regular';
    font-weight: 600;
}

.team-left {
    margin: 0 1.5em;
    position: relative;
}

.team-bottom {
    position: absolute;
    top: 147px;
    left: 40px;
}

.team-left img {
    width: 100%;
}
/*--flexisel--*/
#flexiselDemo1 {
    display: none;
}

.nbs-flexisel-container {
    position: relative;
    max-width: 100%;
}

.nbs-flexisel-ul {
    position: relative;
    width: 9999px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
}

.nbs-flexisel-inner {
    overflow: hidden;
}

.nbs-flexisel-item {
    float: left;
    margin: 0;
    padding: 0px;
    position: relative;
    line-height: 0px;
}

    .nbs-flexisel-item > img {
        cursor: pointer;
        position: relative;
    }
/*---- Navigation ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    width: 24px;
    height: 24px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
}

.nbs-flexisel-nav-left {
    left: 47.7%;
    top: 113% !important;
    background: url(../images/themes.png) no-repeat 0px 0px;
}

.nbs-flexisel-nav-right {
    right: 47.7%;
    top: 113% !important;
    background: url(../images/themes.png) no-repeat -24px 0px;
}
/*--//flexisel--*/
/*--//trainers--*/
.trainers {
    padding: 4em 0;
    background: #F0ECEC;
}

    .trainers h3 {
        font-size: 3em;
        text-align: center;
        text-transform: capitalize;
        font-family: 'Play-Regular';
        color: #fd7364;
        font-weight: 600;
    }

.trainer-grid h4 {
    font-size: 1.5em;
    color: #fff;
    text-transform: capitalize;
    padding: 1em 0;
    text-align: center;
    font-family: 'Play-Regular';
    background-color: #222;
    font-weight: 600;
}

    .trainer-grid h4:hover {
        background-color: #fd7364;
        color: #fff;
    }

.trainer-grids {
    margin-top: 2em;
}

.trainer-grid img {
    width: 100%;
}
/*--//contact*/
.contact {
    padding: 4em 0;
}

.title {
    text-align: center;
    width: 55%;
    margin: 0 auto;
}

.contact h4 {
    font-size: 1.5em;
    color: #222;
    text-transform: capitalize;
    font-family: 'Play-Regular';
    font-weight: 600;
    margin-bottom: 1em;
}

.contact-grids {
    margin: 3em 0 0em;
}

.address p {
    color: #333333;
    margin: 0 0 .5em 0;
    text-align: left;
    font-size: 1.1em;
}

p.cnt-p {
    margin-bottom: 1em;
}

.address a {
    color: #fd7364;
    margin: 0 0 .5em 0;
    text-align: left;
    font-size: 1em;
}

    .address a:hover {
        color: #222;
    }

.contact-form input[type="text"] {
    display: inline-block;
    background: none;
    border: 1px solid #A3A1A1;
    width: 100%;
    margin: 0 0 1.5em 0;
    outline: none;
    font-size: 1em;
    color: #555;
    padding: .8em 1em;
}

.contact-form input[type="email"] {
    display: inline-block;
    background: none;
    border: 1px solid #A3A1A1;
    width: 100%;
    margin: 0 0 1.5em;
    outline: none;
    font-size: 1em;
    color: #555;
    padding: .8em 1em;
}

.contact-form textarea {
    background: none;
    border: 1px solid #A3A1A1;
    width: 100%;
    display: block;
    height: 12.5em;
    outline: none;
    font-size: 1em;
    color: #555;
    resize: none;
    padding: .8em 1em;
}

.contact-form input[type="submit"] {
    background: #fd7364;
    border: 1px solid #fd7364;
    padding: .6em 0;
    width: 35%;
    margin: 0.5em 18em 0;
    font-size: 1em;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    outline: none;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

    .contact-form input[type="submit"]:hover {
        border: 1px solid #222;
        background-color: #fff;
        color: #222;
    }

.contact-form-info:nth-child(1) {
    padding-left: 0;
}

.contact-form-info:nth-child(2) {
    padding-right: 0;
}

.google-map iframe {
    width: 100%;
    height: 400px;
    border: none;
}

.google-map {
    margin-top: 3em;
}

.footer-section {
    padding: 2em 0;
    text-align: center;
    background: #fd7364;
}

.footer-top p {
    font-size: 0.9em;
    color: #fff;
    font-weight: 400;
}

.footer-top a {
    font-size: 1em;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
}

    .footer-top a:hover {
        color: #eee;
    }

.footer-top a {
    margin: 0 0.3em
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    width: 48px;
    height: 48px;
    border: none;
    text-indent: 100%;
    background: url("../Content/to-top2.png") no-repeat 0px 0px;
}
/**--responsive--**/
@media (max-width:1440px) {
    .header {
        min-height: 716px;
    }

    .banner-grids {
        top: 150px;
    }
}

@media (max-width: 1366px) {
    .header {
        min-height: 690px;
    }

    .banner-grids {
        top: 130px;
    }
}

@media (max-width: 1280px) {
    .header {
        min-height: 635px;
    }

    .banner-grids {
        top: 75px;
    }
}

@media (max-width: 1080px) {
    .logo a {
        font-size: 3.5em;
        padding: 0 0.5em;
    }

    .banner-center {
        width: 47%;
        margin-top: 7em;
    }

        .banner-center h1 {
            font-size: 2.5em;
        }

    .header {
        min-height: 513px;
    }

    .top-menu ul li a {
        padding: 1.6em 1.5em;
    }

    .banner-grids {
        top: 65px;
    }

    .banner-center p, .about-section p, .services-grid p, .address p {
        font-size: 0.965em;
    }

    .banner-grid h5 {
        font-size: 1.1em;
    }

    .about-section h3, .services h3, .gallery h3, .title h3, .trainers h3 {
        font-size: 2.5em;
    }

    .about-section h4, .services-grid h4, .team-bottom h4, .trainer-grid h4, .contact h4 {
        font-size: 1.4em;
    }

    .rotate i {
        margin: 6em 0 0 9em;
    }

    .title p {
        font-size: 1em;
    }

    .team-bottom {
        top: 115px;
    }

    .contact-form input[type="submit"] {
        width: 23%;
    }
}

@media (max-width: 1300px) {
    span.menu {
        display: block;
        text-align: left;
        cursor: pointer;
        position: relative;
    }

    .top-menu ul {
        display: none;
        position: absolute;
        width: 92.5%;
        z-index: 9999;
        left: 3.8%;
        margin: 1.5em 0em 0;
        background: rgba(29, 28, 24, 0.93);
        border: 0;
    }

    .top-menu span.menu {
        display: block;
        margin: 1em 1em 0;
    }

    .top-menu ul li {
        display: block;
        float: none;
        text-align: center;
        border: none;
    }

        .top-menu ul li a {
            color: #fff;
            display: block;
            margin: 0;
            background: none;
            border: none;
            padding: 0.4em;
            font-size: 1em;
        }

    .header {
        min-height: 382px;
    }

    .banner-center {
        margin-top: 2em;
    }

    .banner-grids {
        top: 10px;
    }

    .top-menu ul li:nth-child(1) {
        border-left: none;
    }

    .banner-center h1 {
        font-size: 2em;
    }

    .banner-center p, .about-section p, .services-grid p, .address p {
        font-size: 0.95em;
    }

    .about-section h3, .services h3, .gallery h3, .title h3, .trainers h3 {
        font-size: 2em;
    }

    .about-section h4, .services-grid h4, .team-bottom h4, .trainer-grid h4, .contact h4 {
        font-size: 1.3em;
    }

    .banner-grid {
        float: left;
        width: 33.3%;
    }

    .about-section {
        padding: 5em 0 3em;
    }

    .about-grid {
        float: left;
        width: 50%;
    }

    .services-grid {
        float: left;
        width: 25%;
    }

    .services, .gallery, .team, .trainers, .contact {
        padding: 3em 0;
    }

    .gallery-grid {
        float: left;
        width: 33.3%;
    }

    .title p {
        font-size: 0.965em;
    }

    .title {
        text-align: center;
        width: 66%;
    }

    .rotate i {
        margin: 4em 0 0 7em;
    }

    .trainer-grid {
        float: left;
        width: 33.3%;
    }

    .google-map iframe {
        width: 100%;
        height: 300px;
    }

    .rotate {
        width: 94%;
        height: 93%;
    }

    .address {
        float: left;
        width: 50%;
    }

    .contact-form {
        float: left;
        width: 50%;
    }

        .contact-form input[type="text"] {
            margin: 0 0 1em 0;
            padding: .7em 1em;
        }

        .contact-form input[type="email"] {
            margin: 0 0 1em 0;
            padding: .7em 1em;
        }

    .contact-form-info:nth-child(2) {
        padding: 0;
    }

    .contact-form-info:nth-child(1) {
        padding: 0;
    }

    .contact-form textarea {
        height: 8.5em;
        padding: .7em 1em;
    }

    .contact-form input[type="submit"] {
        margin: 0.5em 0 0;
    }

    ul.nav.navbar-nav.navbar-right {
        width: 100%;
        left: 0;
    }
}

@media (max-width: 640px) {
    .logo a {
        font-size: 3em;
    }

    .top-menu span.menu {
        margin: 1em 1em 0;
    }

    .top-menu ul {
        width: 91%;
        left: 4.5%;
        margin: 0.8em 0em 0;
    }

    .about-section h4, .services-grid h4, .team-bottom h4, .trainer-grid h4, .contact h4 {
        font-size: 1.2em;
    }

    .banner-center {
        width: 64%;
    }

        .banner-center h1 {
            font-size: 1.8em;
        }

    .banner-grids {
        top: 60px;
    }

    .banner-center {
        margin-top: 4em;
    }

    .about-section h3, .services h3, .gallery h3, .title h3, .trainers h3 {
        font-size: 1.8em;
    }

    .rotate i {
        margin: 3em 0 0 5em;
    }

    span.glyphicon.glyphicon-lock {
        font-size: 1.5em;
    }

    span.glyphicon.glyphicon-move {
        font-size: 1.5em;
    }

    span.glyphicon.glyphicon-cog {
        font-size: 1.5em;
    }

    span.glyphicon.glyphicon-camera {
        font-size: 1.5em;
    }

    .about-grids, .services-grids, .gallery-grids, .work-bottom, .google-map {
        margin-top: 2em;
    }

    .rotate {
        width: 93%;
        height: 91%;
    }

    .title {
        text-align: center;
        width: 80%;
    }

    .team-bottom {
        left: 20px;
    }

    .google-map iframe {
        width: 100%;
        height: 250px;
    }

    .contact-form input[type="submit"] {
        width: 25%;
        font-size: 0.965em;
    }

    .contact-form input[type="text"] {
        font-size: 0.965em;
    }
}

@media (max-width: 480px) {
    .logo a {
        font-size: 2.5em;
    }

    .top-menu span.menu {
        margin: 0.65em 1em 0;
    }

    .top-menu ul {
        width: 87.8%;
        left: 6.2%;
    }

    .header {
        background-size: cover;
    }

    .banner-center {
        width: 100%;
    }

        .banner-center h1 {
            font-size: 1.5em;
        }

    .banner-grid h5 {
        font-size: .9em;
    }

    .banner-center {
        margin-top: 5em;
    }

        .banner-center p, .about-section p, .services-grid p, .address p {
            font-size: 0.92em;
        }

    .about-section {
        padding: 4em 0 2em;
    }

    .about-grid {
        width: 100%;
    }

        .about-grid:nth-child(2) {
            margin-top: 1em;
        }

    .about-section h3, .services h3, .gallery h3, .title h3, .trainers h3 {
        font-size: 1.5em;
    }

    .rotate i {
        margin: 3em 0 0 6em;
    }

    .services, .gallery, .team, .trainers, .contact {
        padding: 2em 0;
    }

    .services-grid {
        float: left;
        width: 50%;
    }

        .services-grid:nth-child(3) {
            margin-top: 1em;
        }

        .services-grid:nth-child(4) {
            margin-top: 1em;
        }

    .gallery-grid {
        float: left;
        width: 50%;
    }

    .rotate {
        width: 93.8%;
        height: 92%;
    }

    .title {
        text-align: center;
        width: 100%;
    }

        .title p {
            font-size: 0.95em;
        }

    .trainer-grid h4 {
        padding: 0.5em 0;
    }

    .contact-grids {
        margin: 2em 0 0em;
    }

    .address {
        width: 100%;
        padding: 0;
    }

    .contact-form {
        margin-top: 1em;
        width: 100%;
        padding: 0;
    }

        .contact-form input[type="text"] {
            font-size: 0.95em;
        }

        .contact-form input[type="submit"] {
            width: 25%;
            font-size: 0.95em;
        }
}

@media (max-width: 320px) {
    .header {
        background-size: cover;
        padding-top: 1em;
        min-height: 335px;
    }

    .header-top {
        margin: 0 1em;
    }

    .top-menu span.menu {
        margin: 0.6em 1em 0;
    }

    .banner-grids {
        top: 30px;
    }

    .top-menu ul {
        width: 90%;
        left: 5%;
    }

    .banner-center {
        margin-top: 2em;
    }

    .banner-grid {
        padding: 1em 2em;
    }

        .banner-grid h5 {
            font-size: .9em;
            margin: 0px -10px;
        }

    .about-section {
        padding: 3em 0 1em;
    }

    .about-grids, .services-grids, .work-bottom, .google-map {
        margin-top: 1em;
    }

    .gallery-grids {
        margin-top: 1em;
    }

    .about-grid {
        padding: 0;
    }

    .about-section h3, .services h3, .gallery h3, .title h3, .trainers h3 {
        font-size: 2em;
    }

    .services-grid {
        width: 100%;
        padding: 0;
    }

        .services-grid:nth-child(2) {
            margin-top: 1em;
        }

    .services, .gallery, .team, .trainers, .contact {
        padding: 1em 0;
    }

    .gallery-grid {
        width: 100%;
    }

    .rotate {
        width: 95%;
        height: 93.5%;
    }

        .rotate i {
            margin: 4em 0 0 8em;
        }

    .title p {
        font-size: 0.92em;
    }

    .trainer-grid {
        width: 100%;
        padding: 0;
    }

        .trainer-grid:nth-child(2) {
            margin: 1em 0;
        }

    .trainer-grids {
        margin-top: 1em;
    }

    .team-bottom {
        top: 75px;
    }

    .team-left {
        margin: 0 0.3em;
    }

    .team-bottom h4 {
        font-size: 1em;
    }
}

span.menu {
    -webkit-filter: drop-shadow(1px 1px 3px rgba(29, 28, 24, 0.3));
    filter: drop-shadow(1px 1px 3px rgba(29, 28, 24, 0.3));
}
