﻿@model IEnumerable<CoachAssisant.Models.Payment>
@{
    ViewBag.HeaderClass = "header2";
    ViewBag.IsIndex = false;
    ViewBag.LinkClass = "";
    ViewBag.Title = "Платежи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:50px">

    <h3 style="color:#fd7364; margin-bottom:50px">@ViewBag.Title</h3>
    <div style="margin-bottom:20px;">
        <a href="@Url.Action("New", "Payments", new { })" , class="btn btn-primary btn-md">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            Добавить платеж
        </a>
    </div>
    @foreach(var payment in Model)
    {
        
        <h4>@payment.Client.FirstName @payment.Client.LastName, @payment.Date</h4>
        <p>@payment.Amount</p>
        <p>
            <a href="@Url.Action("Edit", "Payments", new { id = payment.Id})" , class="btn btn-info btn-sm">                
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
        </p>

    }
</div>

