﻿@model CoachAssisant.ViewModels.PaymentFormViewModel
@{
    ViewBag.HeaderClass = "header2";
    ViewBag.IsIndex = false;
    ViewBag.LinkClass = "";    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:50px">

    <h3 style="color:#fd7364; margin-bottom:50px">@Model.Title</h3>
    @using (Html.BeginForm("Save", "Payments"))
    {
        @Html.ValidationSummary(true, "Пожалуйста, исправьте некорректно заполненные поля")
        <div class="form-group">
            @Html.LabelFor(p => p.Payment.Amount)
            @Html.TextBoxFor(p => p.Payment.Amount, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.Payment.Amount)
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.Payment.Notes)
            @Html.TextBoxFor(p => p.Payment.Notes, new { @class = "form-control" })
        </div>   
        <div class="form-group">
            @Html.LabelFor(p => p.Payment.ClientId)
            @Html.DropDownListFor(p => p.Payment.ClientId, new SelectList(Model.Clients, "Id", "FirstName"), "Выберите клиента",
           new { @class="form-control"})
            @Html.ValidationMessageFor(p => p.Payment.ClientId)
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.Payment.Date)
            @Html.TextBoxFor(p => p.Payment.Date, new { @Value = Model.Payment.Date.ToString("dd/MM/yyyy"), @class = "form-control" })
            @Html.ValidationMessageFor(p => p.Payment.Date)
        </div>
        <div class="form-group">
            @Html.CheckBoxFor(p => p.Payment.OnTime) Платеж осуществлен вовремя?
        </div>
        @Html.HiddenFor(p => p.Payment.Id)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">@Model.ButtonText</button>
    }

</div>
@section scripts
        {
    @Scripts.Render("~/bundles/jqueryval")
}


