﻿@model IEnumerable<CoachAssisant.Models.MeasurementRecord>
@{

    ViewBag.HeaderClass = "header2";
    ViewBag.IsIndex = false;
    ViewBag.LinkClass = "";
    ViewBag.Title = "Контрольные замеры";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:50px">

    <h3 style="color:#fd7364; margin-bottom:50px">@ViewBag.Title</h3>
    @foreach (var measurement in Model)
    {        
        <ul>
            <li>@measurement.Client.FirstName @measurement.Client.LastName</li>
            <li>@measurement.MeasurementType.Name</li>
            <li>@measurement.Date</li>
            <li>@measurement.Value</li>
            <li>
                <a href="@Url.Action("Edit", "Client", new { id = measurement.Id})" , class="btn btn-info btn-sm">                    
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </a>
            </li>
            </ul>
    }
</div>

