﻿@model CoachAssisant.ViewModels.MeasurementRecordFormViewModel
@{
    ViewBag.HeaderClass = "header2";
    ViewBag.IsIndex = false;
    ViewBag.LinkClass = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:50px">

    <h3 style="color:#fd7364; margin-bottom:50px">@Model.Title</h3>
    @using (Html.BeginForm("Save", "MeasurementRecords"))
    {
        @Html.ValidationSummary(true, "Пожалуйста, исправьте некорректно заполненные поля")
        <div class="form-group">
            @Html.LabelFor(m => m.MeasurementRecord.Date)
            @Html.TextBoxFor(m => m.MeasurementRecord.Date, new { @class = "form-control", type="date"})
            @Html.ValidationMessageFor(m => m.MeasurementRecord.Date)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MeasurementRecord.Value)
            @Html.TextBoxFor(m => m.MeasurementRecord.Value, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.MeasurementRecord.Value)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MeasurementRecord.ClientId)
            @Html.DropDownListFor(m => m.MeasurementRecord.ClientId, new SelectList(Model.Clients, "Id", "FirstName"), "Выберите клиента",
           new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.MeasurementRecord.ClientId)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MeasurementRecord.MeasurementTypeId)
            @Html.DropDownListFor(m => m.MeasurementRecord.MeasurementTypeId, new SelectList(Model.MeasurementTypes, "Id", "Name"), "Выберите тип",
           new { @class = "form-control"})
            @Html.ValidationMessageFor(m => m.MeasurementRecord.MeasurementTypeId)
        </div>
        @Html.HiddenFor(m => m.MeasurementRecord.Id)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">@Model.ButtonText</button>

    }

</div>
@section scripts
        {
    @Scripts.Render("~/bundles/jqueryval")
}