﻿@using CoachAssisant.Models
@model LoginViewModel
@{
    ViewBag.Title = "Вход";
}

<h3 class="text-center" style="color:#fd7364; margin-top:15px; margin-bottom:40px">@ViewBag.Title</h3>
<style>
    #emailLabel, #emailLabel *,
    #passwordLabel, #passwordLabel * {
        text-align: left;
    }

    #emailField, #emailField *,
    #passwordField, #passwordField * {
        width: 100%;
        max-width: 100%;
    }

        #emailField > span,
        #passwordField > span {
            padding-left: 12px;
            display: inline-block;
            height: 1em;
        }

    #emailField,
    #passwordField {
        margin-top: 5px;
    }

    #rememberMeChk {
        margin-left: 10px;
    }

        #rememberMeChk > div.checkbox {
            padding-top: 0px;
        }

    #loginRegisterButtons {
        height: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

        #loginRegisterButtons > a {
            transition: none;
            -webkit-transition: none;
            -moz-transition: none;
            -o-transition: none;
            -ms-transition: none;
            visibility: hidden;
        }

    #emailLabel, #passwordLabel {
        padding-left: 3px;
        display: none;
    }

    #socialLoginForm > h4,
    #socialLoginForm > hr {
        display: none;
    }

    #socialLoginList > p > button {
        visibility: hidden;
    }
</style>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-push-3 col-md-4 col-md-push-4 col-lg-4 col-lg-push-4">
        <div class="workout-card-details row">



            <section id="loginForm" class="row">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="col-xs-12" id="emailLabel">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-xs-12" id="emailField">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xs-12" id="passwordLabel">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-xs-12" id="passwordField">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xs-12" id="rememberMeChk">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>

                    <div class="col-xs-12" id="loginRegisterButtons">
                        <input type="submit" value="Вход" class="btn btn-default col-xs-6" />
                        @Html.ActionLink("Регистрация", "Register")
                    </div>



                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                }
            </section>
            <div class="col-xs-12" id="facebookLogin">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#emailField > input").attr("placeholder", "Email");
        $("#passwordField > input").attr("placeholder", "Пароль");
        $("#loginRegisterButtons > a").addClass("btn btn-link col-xs-6").css("visibility", "visible");
        $("#socialLoginList > p > button").removeClass("btn-default").addClass("btn-link col-xs-12").html("Вход через Facebook").css("visibility", "visible");
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
