﻿@model CoachAssisant.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}

<h3 class="text-center" style="color:#fd7364; margin-top:15px; margin-bottom:40px">@ViewBag.Title</h3>
<style>
    #emailField, #emailField *,
    #passwordField, #passwordField *,
    #passwordConfLabel, #passwordConfLabel * #passwordConfField, #passwordConfField *,
    #profileTypeLabel, #profileTypeLabel *,
    #profileTypeField, #profileTypeField * {
        text-align: left;
        width: 100%;
        max-width: 100%;
    }

        #emailField > span,
        #passwordField > span,
        #passwordConfField > span,
        #profileTypeField > span {
            padding-left: 12px;
            display: inline-block;
            height: 1em;
        }

    #emailField,
    #passwordField,
    #passwordConfField,
    #profileTypeField {
        margin-top: 5px;
    }

    #rememberMeChk {
        margin-left: 10px;
    }

        #rememberMeChk > div.checkbox {
            padding-top: 0px;
        }

    #loginRegisterButtons {
        height: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

        #loginRegisterButtons > a {
            transition: none;
            -webkit-transition: none;
            -moz-transition: none;
            -o-transition: none;
            -ms-transition: none;
            visibility: hidden;
        }


    #emailLabel, #passwordLabel, #passwordConfLabel, #profileTypeLabel {
        padding-left: 3px;
        display: none;
    }


    #socialLoginForm > h4,
    #socialLoginForm > hr {
        display: none;
    }

    #socialLoginList > p > button {
        visibility: hidden;
    }
</style>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-push-3 col-md-4 col-md-push-4 col-lg-4 col-lg-push-4">
        <div class="workout-card-details row">
            <div class="row">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="col-xs-12" id="emailLabel">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    </div>
                    <div class="col-xs-12" id="emailField">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>


                    <div class="col-xs-12" id="profileTypeLabel">
                        @Html.LabelFor(m => m.ProfileTypeId, new { @class = "control-label" })
                    </div>
                    <div class="col-xs-12" id="profileTypeField">
                        @Html.DropDownListFor(m => m.ProfileTypeId, new SelectList(Model.ProfileTypes, "Id", "Name"),
"Выберите тип профиля", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ProfileTypeId)

                    </div>


                    <div class="col-xs-12" id="passwordLabel">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    </div>
                    <div class="col-xs-12" id="passwordField">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-xs-12" id="passwordConfLabel">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    </div>
                    <div class="col-xs-12" id="passwordConfField">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>



        <!-- @Html.ValidationSummary("", new { @class = "text-danger" }) -->

                    <div class="col-xs-12" id="loginRegisterButtons">
                        <input type="submit" class="btn btn-default col-xs-6" value="Регистрация" />
                        @Html.ActionLink("Вход", "Login")
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#emailField > input").attr("placeholder", "Email");
        $("#passwordField > input").attr("placeholder", "Пароль");
        $("#passwordConfField > input").attr("placeholder", "Подтверждение пароля");
        $("#loginRegisterButtons > a").addClass("btn btn-link col-xs-6").css("visibility", "visible");
    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
