﻿@model CoachAssisant.ViewModels.WorkoutDetailsViewModel
@{
    ViewBag.HeaderClass = "header2";
    ViewBag.IsIndex = false;
    ViewBag.LinkClass = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a id="floating-button" href="@Url.Action("New", "WorkoutExercises", new { workoutId = Model.Workout.Id })" data-placement="left" data-original-title="Добавить упражнение"><span class="plus">+</span></a>
<div class="container-fluid main_container" id="main_container">
    <h3 class="text-center" style="color:#fd7364; margin-bottom:50px">@Model.Title</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
            <div class="workout-card-details">
                <div class="row">
                    <div class="col-xs-6 col-sm-4 workout-card-name">
                        @Model.Workout.Client.FirstName @Model.Workout.Client.LastName
                    </div>
                    <div class="col-xs-6 col-sm-4 col-sm-push-4 workout-card-date">
                        @Model.Workout.Date.ToString("dd/MM/yyyy")
                    </div>
                    <div id="deletebutton" class="col-xs-12 col-sm-4 col-sm-pull-4 workout-card-workoutnumber">
                        @using (Html.BeginForm("Delete", "Workouts", new { Id = Model.Workout.Id }))
                        {
                            @Html.HiddenFor(w => w.Workout.Id)
                            @Html.AntiForgeryToken()
                            <button type="submit" value="Delete" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash glyphicon-button"></span>Delete</button>
                        }
                    </div>
                </div>
                <div class="row workot-card-exercises">
                    @if (Model.WorkoutExercises.Count().Equals(0))
                    {
                        <div class="col-xs-12">
                            Вы ещё не выполнили или не добавили выполненые упражнения.<br>
                            Сделайте это с помощью кнопки "+" в правом нижнем углу экрана.
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-12 exersises-list-title">
                            Выполненые упражнения:
                        </div>
                        <div class="col-xs-12 exersises-list">
                            @foreach (var ex in Model.WorkoutExercises)
                            {
                                var hrefid = ex.Id;

                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#@hrefid">@ex.Exercise.Name</a>
                                                <a href="@Url.Action("Edit", "WorkoutExercises", new { id = ex.Id})"><span class="glyphicon glyphicon-edit glyphicon-button" aria-hidden="true"></span></a>
                                            </h4>
                                        </div>
                                        <div id="@hrefid" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-xs-9 col-sm-6">
                                                        Количество подходов
                                                    </div>
                                                    <div class="col-xs-3 col-sm-6">@ex.NumberOfSets</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-9 col-sm-6">
                                                        Количество повторений
                                                    </div>
                                                    <div class="col-xs-3 col-sm-6">@ex.Wraps</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-9 col-sm-6">
                                                        Рабочий вес
                                                    </div>
                                                    <div class="col-xs-3 col-sm-6">@ex.WorkingWeight</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#deletebutton > form').submit(function (e) {
                e.preventDefault();
                bootbox.confirm("Вы уверены, что хотите удалить?", function (result) {
                    if (result) {
                        $('#deletebutton > form').unbind('submit').submit();
                    }
                })
            });
        });
    </script>
}