﻿@model IEnumerable<CoachAssisant.Models.Workout>
@{
    ViewBag.HeaderClass = "header2";
    ViewBag.IsIndex = false;
    ViewBag.LinkClass = "";
    ViewBag.Title = "Тренировки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("New", "Workouts", new { })" id="floating-button" data-placement="left" data-original-title="Добавить тренировку"><span class="plus">+</span></a>
<div class="container-fluid main_container" id="main_container">
    <h3 class="text-center" style="color:#fd7364; margin-bottom:50px">@ViewBag.Title</h3>
    <div class="row">
        @foreach (var workout in Model)
        {
            <div class="col-sm-6 col-md-4 col-lg-4 workout-card-wrapper">
                <div class="workout-card row">
                    <div class="workout-card-name col-xs-7">@workout.Client.FirstName @workout.Client.LastName</div>
                    <div class="workout-card-status col-xs-5 done"><span class="glyphicon glyphicon-ok glyphicon-button" aria-hidden="true"></span>@workout.WorkoutStatus.Name</div>
                    <div class="workout-card-date col-xs-12">@workout.Date.ToString("dd/MM/yyyy")</div>
                    <div class="workout-card-type col-xs-12">@workout.WokroutType.Name</div>
                    <div class="col-xs-7 col-sm-7 col-md-7 workout-card-btn">
                        <a href="@Url.Action("Edit", "Workouts", new { id = workout.Id})" class="btn btn-info"><span class="glyphicon glyphicon-edit glyphicon-button" aria-hidden="true"></span>Редактировать</a>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5 workout-card-btn">
                        <a href="@Url.Action("Details", "Workouts", new { id = workout.Id})" class="btn btn-link">Подробнее</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>