﻿@model CoachAssisant.ViewModels.WorkoutFormViewModel
@{
    ViewBag.HeaderClass = "header2";
    ViewBag.IsIndex = false;
    ViewBag.LinkClass = "";   
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="margin-top:50px">

    
    <h3 style="color:#fd7364; margin-bottom:50px">@Model.Title</h3>
    @using (Html.BeginForm("Save", "Workouts"))
    {
        @Html.ValidationSummary(true, "Пожалуйста, исправьте некорректно заполненные поля")
        <div class="form-group">
            @Html.LabelFor(w => w.Workout.Date)
            @Html.TextBoxFor(w => w.Workout.Date, new {@Value = Model.Workout.Date.ToString("dd/MM/yyyy"),  @class = "form-control" })
            @Html.ValidationMessageFor(w => w.Workout.Date)
        </div>
        <div class="form-group">
            @Html.LabelFor(w => w.Workout.WorkoutTypeId)
            @Html.DropDownListFor(w => w.Workout.WorkoutTypeId, new SelectList(Model.WorkoutTypes, "Id", "Name"), "Выберите тип", new { @class = "form-control"})
            @Html.ValidationMessageFor(w => w.Workout.WorkoutTypeId)
        </div>
        <div class="form-group">
            @Html.LabelFor(w => w.Workout.WorkoutStatusID)
            @Html.DropDownListFor(w => w.Workout.WorkoutStatusID, new SelectList(Model.WorkoutStatuses, "Id", "Name"), "Выберите статус", new { @class = "form-control" })
            @Html.ValidationMessageFor(w => w.Workout.WorkoutTypeId)            
        </div>
        <div class="form-group">
            @Html.LabelFor(w => w.Workout.ClientId)
            @Html.DropDownListFor(w => w.Workout.ClientId, new SelectList(Model.Clients, "Id", "FirstName"), "Выберите клиента", new { @class = "form-control" })
            @Html.ValidationMessageFor(w => w.Workout.ClientId)
        </div>
        @Html.HiddenFor(w => w.Workout.Id)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">@Model.ButtonText</button>
    }

</div>
@section scripts
        {
    @Scripts.Render("~/bundles/jqueryval")
}